[Unit]
Description=Run homelab media mover on schedule

[Timer]
OnCalendar={{ MEDIA_MOVER_SCHEDULE }}
Persistent=true

[Install]
WantedBy=timers.target
