[Unit]
Description=Weekly baked PVE ISO build for offsite hosts
Requires=iso-autobuild.service

[Timer]
OnCalendar={{ ISO_BUILD_SCHEDULE }}
RandomizedDelaySec=900
Persistent=true

[Install]
WantedBy=timers.target
