[Unit]
Description=Prometheus smartctl exporter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/default/smartctl-exporter
ExecStart=/usr/local/bin/smartctl_exporter $SMARTCTL_EXPORTER_ARGS
Restart=always
RestartSec=5s
User=root

[Install]
WantedBy=multi-user.target
