[Unit]
Description=Daily auto-update of the Proxmox VE HTTP Boot payload

[Timer]
OnCalendar={{ AUTOUPDATE_SCHEDULE }}
RandomizedDelaySec=1800
Persistent=true

[Install]
WantedBy=timers.target
