[Unit]
Description=Homelab ZFS replication and docker update
Wants=network-online.target docker.service
After=network-online.target docker.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/syncoid -r --delete-target-snapshots --force-delete {{ ZFS_POOL }}/appdata {{ ZFS_POOL }}/backup/appdata
{% if REPLICATION_POST_HOOK %}
ExecStartPost={{ REPLICATION_POST_HOOK }}
{% endif %}
ExecStartPost={{ ZFS_MOUNTPOINT }}/appdata/start.sh
StandardOutput=journal
StandardError=journal
