[Unit]
Description=Homelab ZFS replication, PBS permissions fix, and docker update
Wants=network-online.target docker.service
After=network-online.target docker.service

[Service]
Type=oneshot
ExecStart={{ ZFS_MOUNTPOINT }}/appdata/scripts/zfs_replication_appdata.sh
ExecStartPost={{ ZFS_MOUNTPOINT }}/appdata/scripts/fix_pbs_backup_permissions.sh
ExecStartPost={{ ZFS_MOUNTPOINT }}/appdata/start.sh
StandardOutput=journal
StandardError=journal
