[Unit]
Description=Write SAS HBA temperature metrics for node_exporter textfile collector

[Service]
Type=oneshot
ExecStart=/usr/local/bin/hba-temp-textfile-exporter
