[Unit]
Description=Run homelab PVE cluster config backup on schedule

[Timer]
OnCalendar={{ SCHEDULE }}
RandomizedDelaySec=120
Persistent=true
Unit=homelab-pve-config-backup.service

[Install]
WantedBy=timers.target
