KEEPALIVED_HELM_HEALTHCHECK_HOST=traefik2.example.net
KEEPALIVED_HELM_HEALTHCHECK_URL=https://traefik2.example.net/ping
KEEPALIVED_ORBIT_HEALTHCHECK_HOST=traefik3.example.net
KEEPALIVED_ORBIT_HEALTHCHECK_URL=https://traefik3.example.net/ping
KEEPALIVED_TOWER_HEALTHCHECK_HOST=traefik.example.net
KEEPALIVED_TOWER_HEALTHCHECK_URL=https://traefik.example.net/ping
