KEEPALIVED_HELM_HEALTHCHECK_HOST=traefik-helm.example.net
KEEPALIVED_HELM_HEALTHCHECK_URL=https://traefik-helm.example.net/ping
KEEPALIVED_NEO_HEALTHCHECK_HOST=traefik-neo.example.net
KEEPALIVED_NEO_HEALTHCHECK_URL=https://traefik-neo.example.net/ping
KEEPALIVED_TOWER_HEALTHCHECK_HOST=traefik-tower.example.net
KEEPALIVED_TOWER_HEALTHCHECK_URL=https://traefik-tower.example.net/ping
